<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/forgotpassword.css"> <!-- Link to the CSS file -->
</head>

<body>
    <script src="/js/forgotpassword.js"></script> <!-- Link to the JavaScript file -->
    <div class="forgot-pass">
        <div id="forgot-otp" class="card active">
            <button type="button" class="close-btn">✕</button>
            <h2>Forgot Password</h2>
            <form id="forgot-otp-form">
                <select name="yourRole" class="margin yourrole" required>
                    <option value="user">User</option>
                    <option value="taxi-driver">Taxi-driver</option>
                    <option value="guide">Guide</option>
                </select>
                <input type="email" name="email" placeholder="Enter your email" required>
                <button type="submit" id="send-otp-btn">Send OTP</button>
            </form>
        </div>

        <div id="verify-otp" class="card">
            <button type="button" class="close-btn">✕</button>
            <h2>Verify OTP</h2>
            <form id="verify-otp-form">
                <input type="text" name="otp" placeholder="Enter OTP" required>
                <div class="button-group">
                    <button type="submit" id="verify-otp-btn">Verify</button>
                    <button type="submit" id="resend-otp-btn">Resend OTP</button>
                </div>
                <!-- Display timer here -->
                <div id="timer-display"></div>
            </form>
        </div>

        <div id="set-new-password" class="card">
            <button type="button" class="close-btn">✕</button>
            <h2>Set New Password</h2>
            <form id="set-password-form">
                <input type="password" name="password" placeholder="New Password" required>
                <input type="password" name="confirm_password" placeholder="Confirm Password" required>
                <button type="submit" id="save-password-btn">Save</button>
            </form>
        </div>
    </div>
</body>

</html>