<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/help.css">

</head>
<%- include('navbar') %>
    <div class="container">
        <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
            <div class=" carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                    aria-current="true"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""
                    aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"
                    class=""></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="img/C1.PNG" alt="" height="825px" width="1290px" class="d-block w-100"
                        style="border-radius: 57px;">
                    <div class="container">
                        <div class="carousel-caption text-center top-caption">
                            <h1>Example headline.</h1>
                            <p class="opacity-75">Some representative placeholder content for the first slide of the
                                carousel.</p>

                        </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <img src="img/c2.PNG" alt="" height="825px" width="1290px" class="d-block w-100"
                        style="border-radius: 57px;">
                    <div class="container">
                        <div class="carousel-caption text-center top-caption">
                            <h1>Another example headline.</h1>
                            <p>Some representative placeholder content for the second slide of the carousel.</p>

                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/c2.PNG" alt="" height="825px" width="1290px" class="d-block w-100"
                        style="border-radius: 57px;">
                    <div class="container">
                        <div class="carousel-caption text-center top-caption">
                            <h1>One more for good measure.</h1>
                            <p>Some representative placeholder content for the third slide of this carousel.</p>

                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>
    </div>

    <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">Need Assistance?</h2>

        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            <div class="col">
                <a href="#message" class="card-link">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                        style="position: relative; background-image: url('img/people-working-call-center.jpg'); background-size: cover;">
                        <div
                            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(148, 148, 148, 0.5);">
                        </div>
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
                            style="position: relative; z-index: 1;">
                            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">24*7 Customer Support</h3>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="#faq" class="card-link">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                        style="position: relative; background-image: url('img/frequently-asked-questions-solution-concept.jpg'); background-size: cover;">
                        <div
                            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(148, 148, 148, 0.5);">
                        </div>
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
                            style="position: relative; z-index: 1;">
                            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">FAQs and Guide</h3>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="#message" class="card-link">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                        style="position: relative; background-image: url('img/message-online-chat-social-text-concept.jpg'); background-size: cover;">
                        <div
                            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(148, 148, 148, 0.5);">
                        </div>
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
                            style="position: relative; z-index: 1;">
                            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Email Support</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="faq-container" id="faq">
        <h1 class="faq-heading">Frequently Asked Questions</h1>
        <div class="faq-item">
            <div class="faq-question">
                <span>How do I book a taxi with your service?</span>
                <i class="fas fa-plus"></i>
            </div>
            <div class="faq-answer">
                Booking a taxi with us is simple! You can either use our website to book online or give us a call at our
                hotline number. Our friendly staff will assist you in scheduling your ride according to your preferences
                and requirements.
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-question">
                <span>Can I request a tour guide along with my taxi service?</span>
                <i class="fas fa-plus"></i>
            </div>
            <div class="faq-answer">
                Absolutely! We specialize in providing personalized tour guide services along with taxi rides. Our
                experienced guides are knowledgeable about the local attractions, history, and culture, ensuring you
                have a memorable and informative travel experience.
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-question">
                <span>What safety measures do you have in place for passengers?</span>
                <i class="fas fa-plus"></i>
            </div>
            <div class="faq-answer">
                The safety of our passengers is our top priority. We ensure that all our vehicles undergo regular
                maintenance checks to meet safety standards. Additionally, our drivers are trained to adhere to traffic
                regulations and prioritize passenger safety at all times. We also provide hand sanitizers in our
                vehicles and encourage passengers to wear seat belts for added safety during their journey.

            </div>
        </div>
        <div class="faq-item">
            <div class="faq-question">
                <span>What types of vehicles do you offer for taxi services?</span>
                <i class="fas fa-plus"></i>
            </div>
            <div class="faq-answer">
                We have a diverse fleet of vehicles to suit your transportation needs. From comfortable sedans for solo
                travelers to spacious vans for larger groups, we ensure that you travel in style and comfort.
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-question">
                <span>Are your drivers licensed and insured?</span>
                <i class="fas fa-plus"></i>
            </div>
            <div class="faq-answer">
                Yes, all our drivers are licensed professionals with extensive training and experience. Additionally,
                our vehicles are fully insured to provide you with peace of mind during your journey.
            </div>
        </div>
    </div>

    <div class="container" id="message">
        <div class="section px-2 px-lg-4 pb-4 pt-5 mb-5" id="contact">
            <div class="container-narrow">
                <div class="text-center mb-5">
                    <h2 class="marker marker-center">Contact Me</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 aos-init" data-aos="zoom-in" data-aos-delay="100">
                        <div class="bg-light my-2 p-3 pt-2 contact-form rounded shadow-lg">
                            <form action="https://api.web3forms.com/submit" method="POST" target="_blank">
                                <div class="form-group my-2">
                                    <label for="name" class="form-label fw-bolder">Name</label>
                                    <input class="form-control" type="text" id="name" name="name" required=""
                                        style="width: 100%;">
                                </div>
                                <input type="hidden" name="access_key" value="10f6f7f7-b38f-4725-9977-e40cf7bd6699">
                                <div class="form-group my-2">
                                    <label for="email" class="form-label fw-bolder">Email</label>
                                    <input class="form-control" type="email" id="email" name="_replyto" required=""
                                        style="width: 100%;">
                                </div>
                                <div class="form-group my-2">
                                    <label for="message" class="form-label fw-bolder">Message</label>
                                    <textarea class="form-control" style="resize: none; width: 100%;" id="message"
                                        name="message" rows="6" required=""></textarea>
                                </div>
                                <button class="btn btn-primary btn-lg mt-3" type="submit"
                                    style="border-radius: 12px;">Send Message</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 aos-init" data-aos="fade-left" data-aos-delay="300">
                        <div class="mt-3 px-1">
                            <div class="h5">Let’s talk how we can help you!</div>
                            <p>Sure, here's a sentence tailored for a tourist guide and taxi service hub:

                                "If you're interested in exploring our guided tours or booking our taxi services, feel
                                free to reach out by using the contact form below. We'd love to assist you in planning
                                your next adventure!" </p>
                            <p>Or get in touch using our email or on our Linkedin Account.</p>
                            <p>See you!</p>
                        </div>
                        <div class="mt-53 px-1">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="pb-1">Email:</div>
                                </div>
                                <div class="col-sm-10">
                                    <div class="pb-1 fw-bolder">guidewheels24@gmail.com</div>
                                </div>

                                <div class="col-sm-2">
                                    <div class="pb-1">Location:</div>
                                </div>
                                <div class="col-sm-10">
                                    <div class="pb-1 fw-bolder">UVPCE, Ganpat University</div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="pb-1">Linkedin:</div>
                                </div>
                                <div class="col-sm-10">
                                    <div class="pb-1 fw-bolder"><a
                                            href="https://www.linkedin.com/in/tirth-patel-b90b1622a/"
                                            style="text-decoration: none; color: black;">Guide-Wheels</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/help.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <%- include('footer') %>

        <body>

        </body>

</html>