<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">

</head>

<body>
    <div class="container">
        <header
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                    <img src="img/Capture.PNG" alt="Guide-Wheels" class="img-fluid tp">
                </a>
            </div>

            <% if (loggedin) { %>
                <ul class="nav col-12 col-md-auto mb-2 nav-pills justify-content-center mb-md-0">
                    <li><a href="index" class="nav-link px-2 ">Home</a></li>
                    <li><a href="guide" class="nav-link px-2 ">Services</a></li>
                    <li><a href="aboutus" class="nav-link px-2 ">About Us</a></li>
                    <li><a href="joinus" class="nav-link px-2 ">Join Us</a></li>
                    <!-- <li><a href="#" class="nav-link px-2 ">Wishlist</a></li> -->
                    <li><a href="help" class="nav-link px-2 ">Help</a></li>
                </ul>
                <div class="dropdown text-end col-md-2 ">
                    <!-- <a href="" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="img/image1.jpg" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a> -->
                    <% if (user && user.profile_image) { %>
                        <a href="" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="<%= user.profile_image %>" alt="Profile Picture" width="32" height="32"
                                class="rounded-circle">
                        </a>
                        <% } else { %>
                            <a href="" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="img/image1.jpg" alt="Default Profile Image" width="32" height="32"
                                    class="rounded-circle">
                            </a>
                            <% } %>

                                <!-- <ul class="dropdown-menu text-small">
                                    <li>
                                        <form action="/userprofile" method="GET">
                                            <button type="submit" class="dropdown-item">Profile</button>
                                        </form>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <form action="/logout" method="GET">
                                            <button type="submit" class="dropdown-item">Sign out</button>
                                        </form>
                                    </li>
                                </ul> -->

                                <ul class="dropdown-menu text-small">
                                    <li>
                                        <form action="<%= user.role === 'user' ? '/userprofile' : '/workerprofile' %>"
                                            method="GET">
                                            <button type="submit" class="dropdown-item">Profile</button>
                                        </form>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <form action="/logout" method="GET">
                                            <button type="submit" class="dropdown-item">Sign out</button>
                                        </form>
                                    </li>
                                </ul>


                </div>

                <% } else { %>
                    <ul class="nav col-12 col-md-auto mb-2 nav-pills justify-content-center mb-md-0">
                        <li><a href="index" class="nav-link px-2 ">Home</a></li>
                        <li><a href="guide" class="nav-link px-2 ">Services</a></li>
                        <li><a href="aboutus" class="nav-link px-2 ">About Us</a></li>
                        <li><a href="joinus" class="nav-link px-2 ">Join Us</a></li>
                        <!-- <li><a href="#" class="nav-link px-2 ">Wishlist</a></li> -->
                        <li><a href="help" class="nav-link px-2 ">Help</a></li>
                    </ul>
                    <div class="col-md-3 text-end">
                        <button type="button " class="btn btn-outline-primary me-2"><a href="signin"
                                style="text-decoration: none;">Login</a></button>
                        <button type="button" class="btn btn-primary"><a href="signup"
                                style="text-decoration: none; color: white;">Sign-up</a></button>
                    </div>
                    <% } %>

        </header>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>