<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="css/signup.css">
    <title>Guide-wheels</title>
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form id="signup-form" action="/signup" method="POST">
                <h1>Create Account</h1><br>
                <select name="role" id="user-type \">
                    <option value="" selected>Select User-Type</option>
                    <option value="customer">Customer</option>
                    <option value="tour-guide">Tour Guide</option>
                    <option value="taxi-driver">Taxi Driver</option>
                </select>

                <input type="text" name="name" placeholder="Name" id="user-name">
                <input type="email" name="email" placeholder="Email" id="user-email">
                <input type="password" name="password" placeholder="Password" id="user-password">
                <input type="password" name="confirmpassword" placeholder="Confirm-Password" id="user-password">
                <button type="submit">Sign Up</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your personal details to use all of site features</p>
                    <button class="hidden" id="register">Sign IN</button>
                </div>
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="login">Sign UP</button>
                </div>
            </div>
        </div>
    </div>

    <script src="js/sscript.js"></script>
</body>

</html>